body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s;
}
select, button, input, textarea {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
#personalizacao {
  margin-top: 20px;
}
#conteudo {
  margin-top: 20px;
  font-size: 18px;
}
.claro {
  background-color: #f0f0f0;
  color: #000;
}
.escuro {
  background-color: #333;
  color: #fff;
}
.azul {
  background-color: #e0f7fa;
  color: #000;
}